.content {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  gap: 0px;
}

.header {
  padding: 20px 25px 0px;
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  margin: 92px 24px;
  width: 1052px;
}

.header_menu-list {
  display: flex;
  text-underline-position: under;
  padding-top: 14%;
  gap: 33.5px;
}

.header_menu-item {
  list-style: circle;
  text-underline-position: under;
}

.header_menu-item_no-bullet {
  list-style-type: none;
}

.header_logo {
  padding-top: 15px;
}

.logo-black {
  border: 6px;
  width: 137px;
}

.address-links_1 {
  max-width: 240px;
}

.address_link_1 {
  padding-top: 22px;
  justify-self: end;
}

.address_link_2 {
  font-size: 18px;
}

.address_text {
  text-underline-position: under;
  font-style: normal;
  line-height: 24.3px;
}
/*
.header_link-active {
  line-height: 24.3px;
}
*/

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.cover {
  background-image: url("../images/cover.jpg");
  background-size: cover;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 1100px;
  gap: 0px;
}

.cover-title {
  letter-spacing: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fff;
  font-size: 100px;
  margin: 166px 51px 136px 50px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  padding-top: 17px;
  line-height: 1;
  text-align: center;
}

.aligned-text_right {
  padding-top: 20px;
  text-align: right;
  line-height: 1;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover_description {
  display: flex;
  justify-content: space-between;
  padding: 0px 52px 50px 76px;
  position: relative;
}

.cover_description-text {
  padding-top: 11px;
  text-transform: uppercase;
  text-wrap: nowrap;
  font-size: 22px;
  color: #d4d4d4;
  line-height: 28px;
  word-spacing: 19px;
}

.bet-button {
  height: 51px;
  width: 256px;
  background-color: transparent;
  font-size: 22px;
  border: 1px solid #fff;
}

.button_text {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #dddcdc;
}

.lots {
  margin: auto;
  width: 1052px;
}

.lots_heading {
  padding-top: 17%;
  padding-left: 40px;
  text-transform: uppercase;
  font-size: 40px;
}

.card {
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 52px 40px 46px;
}

.lots_card_list {
  flex-wrap: wrap;
  color: #fff;
  display: flex;
  padding-top: 27px;
  gap: 24px;
}

.lots_card-list-item {
  position: relative;
  width: 334px;
}

.card__title {
  position: relative;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  color: #d4d4d4;
  font-size: 20px;
  position: relative;
  line-height: 24px;
}

.card_link {
  text-decoration: none;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_pictur {
  background-image: url("../images/card-lot-03.jpg");
}

.lots_look-more-link {
  margin: 32px 40px;
  font-size: 20px;
  text-underline-position: under;
}

.about {
  margin: 116px 62px;
  display: flex;
  width: 1052px;
  gap: 61px;
}

.about_logo {
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  margin: 33px 9px;
}

.about_logo-image {
  padding: 65px 47px 83px 46px;
}

.about_column {
  display: grid;
  width: 693px;
  padding-top: 136px;
  gap: 100px;
}

.about_title {
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
}

.word-spacing_1 {
  word-spacing: 1px;
}

.word-spacing_2 {
  word-spacing: normal;
}

.footer {
  display: flex;
  margin: 64px 50px;
  justify-content: space-between;
}

.footer_address-links {
  max-width: 24%;
  font-size: 18px;
  text-underline-position: under;
  font-style: normal;
}
/*
.footer_link {
  display: flex;
  flex-wrap: wrap;
}

/*
.footer_menu {
  justify-content: center;
}*/

.footer_menu-list {
  text-align: center;
  font-size: 18px;
}

.footer_menu-link {
  text-underline-position: under;
  text-decoration: underline;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_social-list {
  display: flex;
  gap: 48px;
}

/*
.footer_social-list-item {
  width: 240px;
  justify-content: space-between;
  display: inline-flex;
}
*/
.footer_social-icon {
  width: 48px;
  height: 48px;
  flex-wrap: nowrap;
}
